# Ignore temp files
*.pyc
*.save
*.bak
.*.swp
*~
*.o
*.mod
*.so

# Ignore tex files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

*~
.ipynb_checkpoints/
ch10-1.h5
ch10.h5