File name    : tmp2.jpg
File size    : 179544 bytes
File date    : 2003:03:29 10:58:40
Camera make  : Canon
Camera model : Canon DIGITAL IXUS 300
Date/Time    : 2002:05:19 18:10:03
Resolution   : 1200 x 1600
Flash used   : Yes
Focal length : 11.4mm  (35mm equivalent: 79mm)
CCD width    : 5.23mm
Exposure time: 0.017 s  (1/60)
Aperture     : f/4.0
Focus dist.  : 1.17m
Exposure bias:-0.33
Metering Mode: matrix
Jpeg process : Baseline
