TABLE
{
    background-image: url(Images/HandLogo.png);
    background-repeat: no-repeat;
    background-color: White;
    color: Black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt
}