BODY
{
    background-image: url(Images/Background.png);
    background-repeat: no-repeat;
    background-color: #B0A9CA;
    color: Black;
    margin-left: 8px;
    margin-top: 88px
}

TABLE
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt
}