/* Your CSS style declarations for Internet Explorer would go in this file. 

For example:

body {
    margin:0;
    padding:0;
    font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

*/