[submodule "notes/orgmk"]
	path = notes/orgmk
	url = https://github.com/inducer/orgmk
[submodule "demos/ipython-demo-tools"]
	path = demos/ipython-demo-tools
	url = https://github.com/inducer/ipython-demo-tools.git
