<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<style>

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

#notebook li { /* More space between bullet points */
    margin-top:0.8em;
}

/* draw border around running cells */
div.cell.border-box-sizing.code_cell.running {
    border: 3px solid #111;
}

div.cell.code_cell {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 8px; /* rounded borders */
}

div.text_cell_render{
    font-family: 'Arvo' sans-serif;
    line-height: 130%;
    font-size: 115%;
    margin-left:auto;
    margin-right:auto;
}


/* Formatting for header cells */
.text_cell_render h1 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size: 40pt;
    line-height: 100%;
    color: rgb(12,85,97);
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    display: block;
}
.text_cell_render h2 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 24pt;
    line-height: 100%;
    color: rgb(171,165,131);
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    display: block;
}

.text_cell_render h3 {
    font-family: 'Philosopher', sans-serif;
    margin-top:12px;
    margin-bottom: 3px;
    font-style: italic;
    color: rgb(95,92,72);
}

.text_cell_render h4 {
    font-family: 'Philosopher', sans-serif;
}

/* .text_cell_render h5 { */
/*     font-family: 'Alegreya Sans', sans-serif; */
/*     font-weight: 300; */
/*     font-size: 16pt; */
/*     color: grey; */
/*     font-style: italic; */
/*     margin-bottom: .1em; */
/*     margin-top: 0.1em; */
/*     display: block; */
/* } */

.text_cell_render h5 {
    font-family: 'PT Mono', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: grey;
    margin-bottom: 10px;
    margin-top: 3px;
}

.text_cell_render h6 {
    font-family: 'PT Mono', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: grey;
    margin-bottom: 10px;
    margin-top: 3px;
}

/* .CodeMirror{ */
/*         font-family: "PT Mono"; */
/*         font-size: 100%; */
/* } */

table#mytable,
table#mytable td,
table#mytable tr
{
    border: none !important;
}

table#mytable-1,
table#mytable-1 td,
table#mytable-1 tr
{
    border: none !important;
    align: center;
    cellspacing: 10;
}

.msg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 14px 14px 14px 14px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.msg-heading {
    color: inherit;
}

.msg .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.msg-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.msg-danger,
.msg-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.msg-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.boxed {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 14px 14px 14px;
}

.w-300 { width: 300px; }
.w-400 { width: 400px; }
.w-500 { width: 500px; }

</style>
