Sphinx==1.8.5
aeroframe==0.1.2
airfoils==0.2.1
ambiance==1.0.0
codecov==2.0.15
commonlibs==0.5.0
coverage==5.1
matplotlib==3.2.1
numpy==1.16.4
pytest-cov==2.7.1
pytest==5.0.1
schemadict==0.0.8
scipy==1.4.1
