// Ignore pycharm .idea
.idea

// CMake
*CMakeCache*
*CMakeFiles*
*MakeFile
*cmake_install*

// vtk files
*.vtu
*.vts

// DS_Store
*DS_Store*

// sublime
*sublime-workspace*
*sublime-project*

// Ignore generated images
*.png

// Ignore python compiled code
*.pyc
