#date ul li {
    position: relative;
}
#date ul li span {
    color: #FFFFFF;
    text-shadow: rgba(0,0,0,.7) 0 1px 2px;
}
#date ul li .delete {
    position: absolute;
    top: 5px;
    right: 6px;
    font-size: 12px;
    line-height: 30px;
    padding: 0 3px;
    border-width: 0 5px;
    -webkit-border-image: url(themes/jqt/img/button.png) 0 5 0 5;
}
